/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~angular-material/angular-material.min.css";

.container {
  margin: 20px auto;
  width: 400px;
  text-align: center;
}